<p id="notice"><%= notice %></p>

<h1>Listing Commits</h1>

<table>
  <thead>
    <tr>
      <th>Repository</th>
      <th>Author</th>
      <th>Sha</th>
      <th>Stamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commits.each do |commit| %>
      <tr>
        <td><%= commit.repository_id %></td>
        <td><%= commit.author_id %></td>
        <td><%= commit.sha %></td>
        <td><%= commit.stamp %></td>
        <td><%= link_to 'Show', commit %></td>
        <td><%= link_to 'Edit', edit_commit_path(commit) %></td>
        <td><%= link_to 'Destroy', commit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commit', new_commit_path %>
