<div class="container">

<p id="alert"><%= alert %></p>

<h1>Sis채채nkirjautuminen</h1>

<%= form_tag session_path do %>
  Nimi <%= text_field_tag :username, params[:username] %>
  Salasana <%= password_field_tag :password, params[:password] %>
  <%= submit_tag "Kirjaudu sis채채n" %>
<% end %>

</div>
