<p id="notice"><%= notice %></p>

<h1>Listing Topics</h1>

<table>
  <thead>
    <tr>
      <th>Tid</th>
      <th>Did</th>
      <th>Cid</th>
      <th>Mainpid</th>
      <th>Title</th>
      <th>Slug</th>
      <th>Timestamp</th>
      <th>Lastposttime</th>
      <th>Post</th>
      <th>Count</th>
      <th>Viewcount</th>
      <th>Locked</th>
      <th>Pinned</th>
      <th>Isquestion</th>
      <th>Issolved</th>
      <th>Relativetime</th>
      <th>Lastposttimeiso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.tid %></td>
        <td><%= topic.did %></td>
        <td><%= topic.cid %></td>
        <td><%= topic.mainPid %></td>
        <td><%= topic.title %></td>
        <td><%= topic.slug %></td>
        <td><%= topic.timestamp %></td>
        <td><%= topic.lastposttime %></td>
        <td><%= topic.post %></td>
        <td><%= topic.count %></td>
        <td><%= topic.viewcount %></td>
        <td><%= topic.locked %></td>
        <td><%= topic.pinned %></td>
        <td><%= topic.isQuestion %></td>
        <td><%= topic.isSolved %></td>
        <td><%= topic.relativeTime %></td>
        <td><%= topic.lastposttimeISO %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
