<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :userslug %><br>
    <%= f.text_field :userslug %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :fullname %><br>
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :signature %><br>
    <%= f.text_field :signature %>
  </div>
  <div class="field">
    <%= f.label :reputation %><br>
    <%= f.number_field :reputation %>
  </div>
  <div class="field">
    <%= f.label :postcount %><br>
    <%= f.number_field :postcount %>
  </div>
  <div class="field">
    <%= f.label :banned %><br>
    <%= f.check_box :banned %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :uid %><br>
    <%= f.number_field :uid %>
  </div>
  <div class="field">
    <%= f.label :lastonline %><br>
    <%= f.number_field :lastonline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
