<html>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <body>
        <div class="container">
          <button type="button" class="btn btn-primary active" onclick=drawEmailCharts()>Sähköpostien palveluntarjoajat</button>
          <button type="button" class="btn btn-primary active" onclick=drawPosterCharts()>Viestien lähettäjät</button>
        </div>
        <%= content_tag "div", id: "forum_data", data: {postcounts: @post_counts, emailcounts: @email_counts, usersbyemail: @users_by_email } do %>
        <% end %>
        <%= javascript_include_tag "d3.v3.min.js" %>
        <%= javascript_include_tag "nvd3.js" %>
        <%= javascript_include_tag "forumCharts.js" %>
        <%= stylesheet_link_tag "nvcss.css" %>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <p></p>

        <div class="container" id="buttonFeature"></div>

        <div id="charts"></div>

        <div class="container" id="usernames"></div>

    </body>
</html>
