<html>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <body>
        <div class="container">
          <button type="button" class="btn btn-primary active" onclick=drawOwnerCharts()>Muutosten omistajat</button>
          <button type="button" class="btn btn-primary active" onclick=showChangeData()>Muutosten läpimeno</button>
          <button type="button" class="btn btn-primary active" onclick=drawDomainsCharts()>Domains</button>
        </div>
        <div class="container" id="info"></div>
        <%= content_tag "div", id: "gerrit_data", data: {owners: @owners, changes: @changes, change_averages: @change_averages, domains: @domains} do %>
        <% end %>
        <%= javascript_include_tag "d3.v3.min.js" %>
        <%= javascript_include_tag "nvd3.js" %>
        <%= javascript_include_tag "gerritCharts.js" %>
        <%= stylesheet_link_tag "nvcss.css" %>

        <p></p>

        <div class="container" id="buttonFeature"></div>

        <div id="charts"></div>

    </body>
</html>
