<html>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <body>

        <div class="container">
          <%= form_tag git_charts_path do %>
            <%= submit_tag "Rajaa dataa" %>
              <% if Commit.all.length < 1 %>
              Aika <%= date_field_tag :time, params[:time] || time = nil%>
              <% else %>
              Aika <%= date_field_tag :time, params[:time] || time = Time.at(Commit.all.sort_by{|c| c.stamp}.first.stamp).to_date %>
              <% end %>
            Määrä <%= text_field_tag :amount, params[:amount] || 100 %>
          <% end %>
          <p></p>
          <button type="button" class="btn btn-primary active" onclick=drawAuthorCharts()>Näytä kaaviot</button>
        </div>

        <%= content_tag "div", id: "git_data", data: {authors: @authors, emails: @emails} do %>
        <% end %>
        <%= javascript_include_tag "d3.v3.min.js" %>
        <%= javascript_include_tag "nvd3.js" %>
        <%= javascript_include_tag "gitCharts.js" %>
        <%= stylesheet_link_tag "nvcss.css" %>

        <div class="container" id="buttonFeature"></div>

        <div id="charts"></div>

    </body>
</html>
