<html>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <body>
        <button type="button" class="btn btn-primary active" onclick=drawEmailChartOnly()>Sähköpostien palveluntarjoajat</button>
        <button type="button" class="btn btn-primary active" onclick=drawPosterChartOnly()>Viestien lähettäjät</button>
        <%= content_tag "div", id: "user_data", data: {post_counts: @post_counts, users_by_email: @users_by_email} do %>
        <% end %>
        <%= javascript_include_tag "d3.v3.min.js" %>
        <%= javascript_include_tag "nv3d.js" %>
        <%= javascript_include_tag "pieCharts.js" %>
        <%= stylesheet_link_tag "nvcss.css" %>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <div class="container">
            <h2 id="title"></h2>
        </div>

        <div class="container" id="minButton"></div>

        <div id="chart">
            <svg></svg>
        </div>

        <div class="container" id="emails"></div>

    </body>
</html>
