<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pid %><br>
    <%= f.number_field :pid %>
  </div>
  <div class="field">
    <%= f.label :uid %><br>
    <%= f.number_field :did %>
  </div>
  <div class="field">
    <%= f.label :tid %><br>
    <%= f.number_field :tid %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br>
    <%= f.number_field :timestamp %>
  </div>
  <div class="field">
    <%= f.label :reputation %><br>
    <%= f.number_field :reputation %>
  </div>
  <div class="field">
    <%= f.label :votes %><br>
    <%= f.number_field :votes %>
  </div>
  <div class="field">
    <%= f.label :edited %><br>
    <%= f.number_field :edited %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br>
    <%= f.check_box :deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
