<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Pid</th>
      <th>Did</th>
      <th>Tid</th>
      <th>Content</th>
      <th>Timestamp</th>
      <th>Reputation</th>
      <th>Votes</th>
      <th>Edited</th>
      <th>Deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.pid %></td>
        <td><%= post.did %></td>
        <td><%= post.tid %></td>
        <td><%= post.content %></td>
        <td><%= post.timestamp %></td>
        <td><%= post.reputation %></td>
        <td><%= post.votes %></td>
        <td><%= post.edited %></td>
        <td><%= post.deleted %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
