<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cid %><br>
    <%= f.number_field :cid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :parentCid %><br>
    <%= f.text_field :parentCid %>
  </div>
  <div class="field">
    <%= f.label :topic_count %><br>
    <%= f.number_field :topic_count %>
  </div>
  <div class="field">
    <%= f.label :post_count %><br>
    <%= f.number_field :post_count %>
  </div>
  <div class="field">
    <%= f.label :disabled %><br>
    <%= f.check_box :disabled %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :numRecentReplies %><br>
    <%= f.number_field :numRecentReplies %>
  </div>
  <div class="field">
    <%= f.label :totalPostCount %><br>
    <%= f.number_field :totalPostCount %>
  </div>
  <div class="field">
    <%= f.label :totalTopicCount %><br>
    <%= f.number_field :totalTopicCount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
